In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('parks.csv', index_col=['Park Code'])df = pd.read_csv('parks.csv', index_col=['Park Code'])

SyntaxError: invalid syntax (<ipython-input-2-631d4ad6fa20>, line 1)

In [3]:
df = pd.read_csv('parks.csv', index_col=['Park Code'])

In [6]:
df.head(3)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [7]:
#Indexing: Single Rows

df.iloc[2]

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

In [8]:
df.loc['BADL']

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

In [9]:
#Indexing: Multiple Row

df.loc[['BADL', 'ARCH', 'ACAD']]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

In [10]:
df.iloc[[2, 1, 0]]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

In [11]:
df[:3]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [12]:
df[3:6]

,Park Name,State,Acres,Latitude,Longitude
Park Code,,,,,
BIBE,Big Bend National Park,TX,801163,29.25,-103.25
BISC,Biscayne National Park,FL,172924,25.65,-80.08
BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72

In [13]:
#Indexing: Columns

df['State'].head(3)

Park Code
ACAD    ME
ARCH    UT
BADL    SD
Name: State, dtype: object

In [14]:
df.State.head(3)

Park Code
ACAD    ME
ARCH    UT
BADL    SD
Name: State, dtype: object