In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('parks.csv')
df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [5]:
df.agg(['min','max'])

    Park Code             Park Name       State    Acres  Latitude  Longitude
min      ACAD  Acadia National Park          AK     5550     19.38    -159.28
max      ZION    Zion National Park  WY, MT, ID  8323148     67.78     -68.21

In [6]:
df['Acres'].max()

8323148

In [7]:
df['Acres'].median()

238764.5

In [8]:
df['Acres'].sum()

51964032

In [9]:
df['Acres'].std()

1709258.309313917